@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">

        @* Componente do menu lateral *@
        <NavMenu />

    </div>

    <main>      
        
        @* Componente para exibir os dados do usuário *@
        <ContaUsuario/>

        <article class="content px-4">
            @* Local para renderizar o conteúdo dos demais componentes *@
            @Body
        </article>

    </main>
</div>